html,
body {
  height: auto;
  min-height: 100vh;
}
body {
  font-family: sans-serif;
  background-color: #e4cfcf;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 30px;
  margin-bottom: 20px;
}
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  font-weight: bold;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(235, 174, 235);
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  @media (any-hover: hover) {
    &:hover {
      background-color: rgb(207, 110, 207);
      color: #fff;
    }
  }
}
.cards {
  padding: 15px;

  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #000;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 8px;
  @media (width < 530px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  padding: 5px;
  width: 100px;
  justify-self: center;
  height: 150px;
  background-color: violet;
  border: 1px solid rgb(122, 46, 122);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 0px 15px 4px #d8abd2;
    }
  }
}
.card-open .card__image {
  opacity: 1;
}
.card__image {
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal,
.user-score-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 24px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.user-score-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* text-align: center; */
}
.user-score-title {
  text-align: center;
  font-weight: 600;
}
.modal {
  text-align: center;
}
.modal-text {
  font-weight: 600;
  margin-bottom: 20px;
}
.new-game-btn {
  margin-right: 20px;
}
